
SwiftonizeCLI/.DS_Store
SwiftonizeCLI/SwiftonizeCLI.xcodeproj/xcuserdata/musicmaker.xcuserdatad/xcschemes/xcschememanagement.plist
*.xcuserstate
*.resolved
.DS_Store
SwiftonizeCLI/SwiftonizeCLI.xcodeproj/xcuserdata/musicmaker.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
SwiftonizeCLI/SwiftonizeCLI.xcodeproj/xcuserdata/musicmaker.xcuserdatad/xcschemes/xcschememanagement.plist
SwiftonizeCLI/SwiftonizeCLI.xcodeproj/project.xcworkspace/xcuserdata/musicmaker.xcuserdatad/UserInterfaceState.xcuserstate
SwiftonizeCLI/SwiftonizeCLI.xcodeproj/xcshareddata/xcschemes/SwiftonizeCLI.xcscheme
